<div class="flash flash--<%= @type %>"
      data-controller="flash--flash-component"
      data-flash--flash-component-transition-duration-value="250">
  <%= content %>
  <button class="flash__button"
          data-action="flash--flash-component#close">
    <%= helpers.show_svg 'x-mark' %>
  </button>
</div>
