.form__input[type="text"],
.form__input[type="email"],
.form__input[type="password"],
.form__input[type="search"],
.form__input[type="tel"],
.form__input[type="number"],
.form__input[type="date"],
.form__input[type="datetime-local"],
.form__input[type="month"],
.form__input[type="time"],
.form__input[type="url"],
.form__input[type="week"],
textarea.form__input {
  font-size: var(--fs--m);
  color: var(--cl-gray--900);
  line-height: 1.5;
  font-weight: 400;
  padding: 0.75em 0.5em;
  border-radius: 0.25em;
  border: 0.0625em solid;
  border-color: var(--cl-slate--300);

  &:placeholder {
    color: var(--cl-slate--400);
  }

  &:focus {
    outline: 0.125em solid var(--cl-slate--400);
    outline-offset: 0.0625em;
  }

  &:disabled {
    background-color: var(--cl-slate--50);
    color: var(--cl-slate--300);
    border-color: var(--cl-slate--200);

    &::placeholder {
      color: var(--cl-slate--200);
    }
  }
}

textarea.form__input {
  resize: vertical;
}
