.form__text--label {
  font-size: var(--fs--s);
  line-height: 1.5;
  color: var(--cl-slate--900);
  font-weight: 500;

  &:has(+ .form__input:disabled) {
    color: var(--cl-slate--500);
  }
}

.form__text--hint {
  font-size: var(--fs--s);
  line-height: 1.5;
  color: var(--cl-slate--500);
  font-weight: 400;
}

.form__text--error {
  font-size: var(--fs--s);
  line-height: 1.5;
  color: var(--cl-error--700);
  font-weight: 400;
}
