$colors: (
  "white": #fff,
  "black": #000,

  slate--900: #0f172a,
  slate--800: #1e293b,
  slate--700: #334155,
  slate--600: #475569,
  slate--500: #64748b,
  slate--400: #94a3b8,
  slate--300: #cbd5e1,
  slate--200: #e2e8f0,
  slate--100: #f1f5f9,
  slate--50: #f8fafc,

  success--900: #255e46,
  success--800: #2f7657,
  success--700: #2f9461,
  success--600: #53b483,
  success--500: #6ad09d,
  success--400: #8ee4ba,
  success--300: #b8f1d2,
  success--200: #d9f9e6,
  success--100: #effdf6,
  success--50: #f6fef9,

  error--900: #7c2323,
  error--800: #a32e2e,
  error--700: #cd3636,
  error--600: #f34141,
  error--500: #f37373,
  error--400: #f7a1a1,
  error--300: #fac7c7,
  error--200: #fde9e9,
  error--100: #fef2f2,
  error--50: #fffbfa,
);

:root {
  @each $color, $value in $colors {
    --cl-#{$color}: #{$value};
  }
}

@each $color, $value in $colors {
  .cl-#{$color} {
    color: #{$value};
  }
}
